* {
        font-family: Tiro Bangla;
      }
      body form {
        max-width: 1400px;
        margin: 150px auto;
      }
      div {
        max-width: 1200px;
        margin: 0 auto;
      }
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid 1px;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.507);
        width: 500px;
        height: 50vh;
      }
      form label {
        padding: 10px;
        font-weight: bold;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }
      #name {
        width: 200px;
        padding: 5px;
        font-size: 14px;
        border-radius: 5px;
        border: solid 1px rgba(0, 0, 0, 0.733);
      }
      form button {
        width: 320px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
        padding: 10px;
        border-radius: 10px;
        border: solid 1px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.527);
      }
      form button:hover {
        padding: 11px;
        font-size: 16px;
        cursor: pointer;
      }
      #img {
        height: 100px;
      }