* {
  font-family: Inter, semi-bold;
  margin: 0px;
  border: none;
}

header {
  margin: 15px;
}

#nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#nav-list ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  width: 100%;
}
#nav-list ul li a {
  text-decoration: none;
  color: black;
  width: 100%;
  padding: 1.5em;
}
#nav-list ul li a:hover {
  font-size: 17px;
  /* color: darkblue; */
  font-weight: bold;
}
#nav-btn {
  background-color: rgb(70, 145, 101);
  color: white;
  border: none;
  height: 40px;
  width: 140px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
#nav-btn:hover {
  background-color: rgb(46, 92, 65);
  font-size: 13px;
}

#hero-background {
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero-btn {
  display: flex;
  justify-content: center;
}
#hero-btn button,
#hero-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  color: rgb(70, 145, 101);
  text-decoration: none;
  height: 40px;
  width: 230px;
  padding: 10px;
  gap: 10px;
  font-size: 14px;
  cursor: pointer;
}
#hero-btn img {
  height: 20px;
  width: 20px;
}
#hero-btn img:hover {
  background-image: url(./assets/Group\ 5-modified.png);
}
#hero-btn button:hover {
  /* color: white;
  background-color: rgb(70, 145, 101); */
  font-size: 13px;
  margin: 2px;
}
#hero-btn img:hover {
  filter: invert(100%);
}
#structured-thinking {
  display: flex;
  justify-content: center;
  color: rgb(235, 237, 238);
  font-size: 58px;
}
#Note-taking {
  color: rgb(70, 145, 101);
  font-size: 58px;
  display: flex;
  justify-content: center;
}

#hero-background p {
  display: flex;
  color: white;
  justify-content: center;
  text-align: justify;
  align-items: center;
  padding: 15px;
  font-size: 16px;
  font-weight: 750px;
  margin: 0.6em;
}
#heading-btn1 {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: rgb(70, 145, 101);
  border-radius: 5px;
  height: 50px;
  width: 245px;
  color: white;
  font-size: 16.5px;
}
#heading-btn1:hover {
  /* background-color: white;
  color: rgb(70, 145, 101); */
  font-size: 16px;
  border: 1px rgb(46, 92, 65);
}
#heading-btn1 img:hover {
  filter: invert(100%);
}
#heading-btn2 {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  border: solid white 0.6px;
  border-radius: 5px;
  height: 50px;
  width: 200px;
  padding: 5px;
  font-size: 16.5px;
  color: white;
}
#heading-btn2:hover {
  font-size: 16px;
  border: solid white 2px;
}
#heading-btn-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

#card-heading {
  color: rgb(0, 25, 49);
  text-align: center;
  margin: 50px auto;
  padding: 10px;
  font-size: 22px;
}
#card-heading p {
  margin: 20px auto;
  font-size: 15px;
  color: rgba(0, 25, 49, 0.808);
}
.card-container img {
  background-color: rgba(249, 85, 85, 1);
  border-radius: 100%;
  padding: 10px;
  margin: 7px;
}
.card-container {
  display: flex;
  justify-content: space-around;
  color: rgb(0, 25, 49);
  margin: auto 20px;
}
.card {
  text-align: center;
  padding: 10px auto;
}
.card p {
  font-size: 13px;
  padding: 15px;
}
.card h2 {
  font-size: 22px;
}
.card:hover {
  border: dotted 1px rgba(0, 0, 0, 0.541);
}
#card4 {
  margin-right: 20px;
}
#brain-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 45px;
}
#brain-contents h4 {
  color: rgb(70, 145, 101);
  margin: 17px auto;
}
#brain-contents ul {
  list-style: none;
  padding: 0;
}
.brain-list li {
  display: flex;
  justify-content: left;
  padding: 5px;
  gap: 7px;
  align-items: center;
  font-size: 13.5px;
}
.brain-list {
  display: flex;
  justify-content: left;
}
#brain-contents p {
  margin: 20px auto;
  font-size: 14px;
}
